.logo {
  color: white;
}

.profile {

  .profile-data {
    display: block;
    font-size: 20px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: auto;
    width: 40%;
  }

  .label {
    color: bisque;
  }

  .avatar {
    float: right;

    .avatar-img {
      display: block;
      font-size: 20px;
      max-height: 300px;
      max-width: 200px;
      margin-bottom: 40px;
    }
  }
}


