<div>
  <h1 class="logo">My Profile</h1>
</div>
<div class="profile">
  <form [formGroup]="userProfile"
        (ngSubmit)="onSubmit(userProfile.value)"
        novalidate>

    <div class="avatar">
      <span class="label">Photo:</span>
      <img *ngIf="!!currentUser.avatar"
           class="avatar-img"
           [src]="currentUser.avatar">
      <input type="file"
             (change)="changePhoto($event.target)">
    </div>

    <span class="label">Login:</span>
    <input type="text"
           class="profile-data"
           formControlName="login">

    <span class="label">Password:</span>
    <input type="password"
           class="profile-data"
           formControlName="password"
           placeholder="new password">

    <div *ngIf="userProfile.value.password || userProfile.value.passwordSecond">
      <span class="label">Password (again):</span>
      <input type="password"
             class="profile-data"
             formControlName="passwordSecond"
             placeholder="new password again">
    </div>

    <button *ngIf="userProfile.value.password === userProfile.value.passwordSecond"
            type="submit">
      Change profile data
    </button>
  </form>

  <button routerLink="/users">Cancel</button>
</div>
