.mat-toolbar {
  position: fixed;
  display: block;
  z-index: 1;

  .my-app {
    position: absolute;
    top: 15px;
    left: 10px;
    display: inline-block;
    font-size: 40px;
  }

  .after-logined {
    display: inline-block;
    margin-left: 280px;
    padding-top: 10px;

    .header-img-avatar {
      border-radius: 20%;
      max-height: 50px;
    }

    .radio-place {
      margin-left: 20px;
      position: absolute;
      top: 15px;
    }
  }

  .mat-button {
    margin-top: 12px;
    box-sizing: border-box;
    float: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    width: 80px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    color: black;
  }
}
.empty {
  height: 70px;
}
