.mat-toolbar{
    display:block;
    padding:10px 16px;

    .mat-button{
        box-sizing: border-box;
        float:right;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        outline: 0;
        border: none;
        -webkit-tap-highlight-color: transparent;
        white-space: nowrap;
        text-decoration: none;
        vertical-align: baseline;
        text-align: center;
        margin: 0;
        width: 80px;
        line-height: 36px;
        padding: 0 16px;
        border-radius: 2px;
        color:black;
    }
}