<mat-toolbar>
  <div class="my-app">
    <a routerLink="/" >My Application</a>
  </div>
  <mat-radio-group *ngIf="localLogined" class="radio-place" (change)="chackStatus($event.value)">
    <mat-radio-button [value]="'online'" [checked]="true">online</mat-radio-button>
    <mat-radio-button [value]="'offline'">offline</mat-radio-button>
    <mat-radio-button [value]="'walked-away'">walked away</mat-radio-button>
  </mat-radio-group>
  <button class="mat-button" mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">Login</button>
    <button mat-menu-item routerLink="/users">Users</button>
    <button mat-menu-item routerLink="/profile">Profile</button>
  </mat-menu>
</mat-toolbar>
