<div class="logo">
  <h1>MyChatApp</h1>
</div>
<div *ngIf="!(authService.user | async)">

  <form action="" [formGroup]="newUserForm" #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)" novalidate>
    <input *ngIf="newLogin"
           type="text" formControlName="login" placeholder="login" required>
    <input type="text" formControlName="email" placeholder="email" required>
    <input type="password" formControlName="password" placeholder="password" required>

    <button type="submit">Login</button>
  </form>
  <button (click)="loginGoogle()" [ngClass]="'google'">Login With Google</button>

  <button *ngIf="!newLogin"
           (click)="signup()">Signup</button>

</div>
<button class="logout" (click)="authService.logout()" *ngIf="authService.user | async">Logout</button>
<div class="empty"></div>
