.logout {
  margin: 30px;
  float: right;
}

div{
  text-align: center;
  margin: 50px;
}

.logo {
  text-align: center;
}

h1 {
  color: aquamarine;
}

.google {
  border: 1px solid #95989A;
  background: #fff  url('../../../assets/images/google_logo.png') no-repeat 25px;
  color: black;
  display: block;
  background-size: 25px;
  padding:1.2em;
  cursor:pointer;
  margin: 0 auto 15px;
  font-size:1.3em;
}
.empty {
  height: 100px;
}
