<div class="ggl">
  <input type="text"
         placeholder="Поиск"
         [formControl]="find">
</div>

<div class="user-btns">
  <div *ngIf="!!currentUserChat">
    <button [ngStyle]="{'background': '#325ec19e'}">{{ currentUserChat.login}}
      <div [class]="changeStatus(currentUserChat.status)"></div>
    </button>
  </div>

  <div *ngFor="let user of users$ | async">
    <button *ngIf="currentUserChat?.id !== user.id"
            (click)="checkChat(user)">{{ user.login }}
      <div [class]="changeStatus(user.status)"></div>
    </button>
  </div>
</div>

<div class="chats">
  <router-outlet></router-outlet>
</div>
<div class="map-place">
  <agm-map [latitude]="lat"
           [longitude]="lng"
           [zoom]="zoom">
    <agm-marker *ngFor="let cord of coordinates$ | async"
                [latitude]="cord.lat"
                [longitude]="cord.lng"
                [title]="cord.login"
                [iconUrl]="cord.scaledSize">
    </agm-marker>
  </agm-map>
</div>
