<div class="ggl">
  <input type="text"
         placeholder="Поиск"
         [formControl]="find">
</div>

<div class="user-btns">
  <div *ngIf="!!currentUserChat">
    <button [ngStyle]="{'background': '#325ec19e'}">{{ currentUserChat.login}}
      <div [ngClass]="{'online': currentUserChat.status === 'online',
        'offline': currentUserChat.status === 'offline',
        'walked-away': currentUserChat.status === 'walked-away'}"></div>
    </button>
  </div>

  <div *ngFor="let user of users$ | async">
    <button *ngIf="currentUserChat?.id !== user.id"
            (click)="checkChat(user)">{{ user.login }}
      <div [ngClass]="{'online': user.status === 'online',
        'offline': user.status === 'offline',
        'walked-away': user.status === 'walked-away'}"></div>
    </button>
  </div>
</div>

<div class="chats">
  <router-outlet></router-outlet>
</div>
<div class="map-place">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker *ngFor="let user of users$ | async"
                [latitude]="user.lat"
                [longitude]="user.lng"
                [title]="user.login"
                [iconUrl]="{
                scaledSize: {
                  height: 40,
                  width: 40
                },
                url: user.avatar}"></agm-marker>
  </agm-map>
</div>
