.user-btns{
  width: 350px;
  display: inline-block;
  height: 70vh;
  overflow-y: scroll;

  div{
    margin: 10px;
  }

  .online, .offline, .walked-away{
    height: 10px;
    width: 10px;
    border-radius: 100%;
    display: inline-block;
    float: right;
  }
  .online{
    background-color: green;
  }

  .offline{
    background-color: red;
  }

  .walked-away{
    background-color: white;
  }
}

.chats{
  position: absolute;
  width: 50%;
  display: inline-block;
}
